@model IEnumerable<DrugsProject.Models.Prescription.PrescriptionVM>
@using DrugsProject.Models
@{ if (RouteConfig.doctor != null)
    {
        Layout = "~/Views/Shared/DoctorLayoutPage.cshtml";
    }
    else if (RouteConfig.IsManager == true)
    {
        Layout = "~/Views/Shared/ManagerLayoutPage.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/LayoutPage.cshtml";
    }
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/scss/main.css?v=3">
    <link rel="stylesheet" href="~/scss/skin.css">
    <script src="~/script/index.js?v=2"></script>
</head>
@Html.ActionLink("חזרה לרשימת מטופלים", "../patients/Index", null, new { @class = "btn btn-default slide lef" })

<section id="faq">
    <div class="section-heading text-center">
        @Html.DisplayHeaderColorful("מרשמי", "הפציינט", 2, "fa fa-plus", $"../Create/{ViewBag.Patient}")
    </div>
    <div class="titlebar">
        @{
            foreach (var item in Model)
            {
                var medicine = item.GetMedicineForPrescription();
                DrugsProject.Models.Doctor.DoctorVM d;
                if (item.DoctorId == -1)
                {
                    d = new DrugsProject.Models.Doctor.DoctorVM(RouteConfig.manager);
                }
                else
                {
                    d = item.GetDoctorForPrescription();
                }
                <div class="panel" dir="rtl">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <div class="icon-circle"> <i class="fa fa-heartbeat"></i></div>
                            <a role="button" data-toggle="collapse" href="#@item.Id" aria-expanded="true" aria-controls="collapseOne">
                                @medicine.genericaName<br />
                                @item.startDate.ToString("dd/MM/yyyy")
                            </a>
                        </h4>
                    </div>
                    <div id="@item.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            @medicine.commercialName <br />
                            הונפק ע"י: ד"ר @d.fullName <br />
                            גורם: @item.cause <br />
                            תאריך סיום נטילת התרופה: @item.endDate.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>