@model IEnumerable<DrugsProject.Models.MedicineVM>
@using DrugsProject.Models

@{ if (RouteConfig.doctor != null)
    {
        Layout = "~/Views/Shared/DoctorLayoutPage.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/LayoutPage.cshtml";
    }
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="~/scss/3D-hover-effect-big.css?v=2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/scss/main.css?v=2">
    <link rel="stylesheet" href="~/scss/skin.css">
    <script type="text/javascript" src="~/script/3D-hover-effect.js?v=2"></script>
    <script src="~/script/index.js"></script>
</head>
<div align="center" dir="rtl">
    @Html.DisplayHeaderColorful("ניהול ", "תרופות", 2, "fa fa-plus", "/medicines/create")
</div>
<body onpageshow="loadHoverEffectPage()">
    <div dir="rtl" class="content contain">
        <ul>
            @foreach (var item in Model)
            {
                <li class="rig m-12">
                    <a class='normal' href='@Url.Action("Details", new { id = item.Id })'>
                        <div class="div-gray">
                            <div class="hed-image">
                                <img class="p-image img-circle" src="@item.fullImagePath" width="240" height="190" alt="" />
                            </div>
                            <h3 class="colorful hed">@item.commercialName</h3>
                        </div>
                    </a>

                    <div class='info btn-default' style="transform: rotate3d(1, 0, 0, 90deg);">
                        @Html.DisplayHeader(@item.commercialName, 3)
                        @Html.DisplayHeader("שם גנרי: " + @item.genericaName, 4)
                        @Html.DisplayHeader("יצרן: " + @item.manufacturer, 4)
                        @Html.DisplayHeader("כמות: " + @item.size, 4)
                        @Html.DisplayHeader("קוד תרופה: " + @item.NDC, 4)
                    </div>
                </li>
            }

            <li class="rig m-12">
                <a class='normal' href='@Url.Action("Create","Medicines")'>
                    <img class="hed-image" src="~/img/plus-med.jpg" alt="" />
                    <h3 class="colorful hed">הוספת תרופה</h3>
                </a>

                <div class='info btn-default' style="transform: rotate3d(1, 0, 0, 90deg);">
                    @Html.DisplayHeader("הוספת תרופה", 3)
                    @Html.DisplayHeader("לחץ כאן להוספת תרופה חדשה למאגר התרופות", 4)
                </div>
            </li>
        </ul>
    </div>
</body>

