@model BE.DoctorSign
@using DrugsProject.Models

@{ if (RouteConfig.doctor != null)
    {
        Layout = "~/Views/Shared/DoctorLayoutPage.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/LayoutPage.cshtml";
    }
}

<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/scss/log.css?v=2">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/scss/main.css">
    <link type="text/css" rel="stylesheet" href="~/scss/skin.css">
    <script type="text/javascript" src="~/script/log.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/script/index.js"></script>
</head>

<body onpageshow="LogIn()">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup" dir="rtl">
            <form action="SignUp" method="post" class="form">
                <h2 class="form__title">הרשמה</h2>

                @Html.EditorFor(model => model.idNumber, new { htmlAttributes = new { placeholder = "מספר ת.ז.", @class = "input" } })
                @Html.ValidationMessageFor(model => model.idNumber, "", new { @class = "text-danger" })


                @Html.EditorFor(model => model.email, new { htmlAttributes = new { placeholder = "מייל", @class = "input" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                
                @Html.PasswordFor(model => model.password, new { placeholder = "סיסמה", @class = "input" })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                <button class="btn btn-default">הרשמה</button>
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin" dir="rtl">
            <form class="form" action="Log" method="post">
                <h2 class="form__title">התחברות</h2>
                <input name="mail" type="text" placeholder="מייל" class="input" required />
                <input name="pass" type="password" placeholder="סיסמה" class="input" />
                <a href='@Url.Action("ForgotPassword")' class="link">שכחת סיסמה?</a>
                <input type="submit" value="התחברות" class="btn-default" />
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn-default" id="signIn">התחברות</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn-default" id="signUp">הרשמה</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
