@model IEnumerable<DrugsProject.Models.Patient.PatientVM>

@{ if (RouteConfig.doctor != null)
    {
        Layout = "~/Views/Shared/DoctorLayoutPage.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/LayoutPage.cshtml";
    }
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/scss/main.css?v=2">
    <link rel="stylesheet" href="~/scss/skin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="~/script/index.js"></script>

</head>
<body id="wrapper">
    <p>
        @Html.ActionLink("הוסף פציינט", "Create", null, new { @class = "btn-default" })
    </p>
    <section id="faq">
        <div class="titlebar">
            <div class="contain">
                <div align="center">
                    <img class="img-circle" src="~/img/patients.jpg" height="180" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="rich-accordian">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <table class="table" dir="rtl">
                                <tr>
                                    <th class="text-right colorful">
                                        @Html.DisplayNameFor(model => model.fullName)
                                    </th>
                                    <th class="text-right colorful">
                                        @Html.DisplayNameFor(model => model.age)
                                    </th>
                                    <th class="text-right colorful">
                                        @Html.DisplayNameFor(model => model.bloodType)
                                    </th>
                                    <th class="text-right colorful">
                                        @Html.DisplayNameFor(model => model.phoneNumber)
                                    </th>
                                    <th class="text-right colorful">
                                        @Html.DisplayNameFor(model => model.email)
                                    </th>
                                    <th class="text-right colorful">
                                        @Html.DisplayNameFor(model => model.medicalHistory)
                                    </th>
                                    <th class="text-right colorful">
                                        @Html.DisplayNameFor(model => model.birthDate)
                                    </th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model)
                                {
                            <tr>
                                 <td class="p-8 center-row">
                                       @Html.DisplayFor(modelItem => item.fullName)                                
                                 </td>
                                 <td>
                                       @Html.DisplayFor(modelItem => item.age)       
                                 </td>
                                 <td>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            @Html.DisplayFor(modelItem => item.bloodType).ToString().Replace('_', ' ')
                                        </h4>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            @Html.DisplayFor(modelItem => item.phoneNumber)
                                        </h4>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            @Html.DisplayFor(modelItem => item.email)
                                        </h4>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            @Html.DisplayFor(modelItem => item.medicalHistory)
                                        </h4>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            @Html.DisplayFor(modelItem => item.birthDate)
                                        </h4>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="panel-heading h">
                                        <h4 class="panel-title">
                                            <a role="button">
                                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" }) |
                                                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-eye" }) |
                                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })
                                            </a>
                                        </h4>
                                    </div>
                                </td>
                            </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

