@model IEnumerable<DrugsProject.Models.Doctor.DoctorVM>
@using DrugsProject.Models

@{ if (RouteConfig.doctor != null)
    {
        Layout = "~/Views/Shared/DoctorLayoutPage.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/LayoutPage.cshtml";
    }
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/scss/main.css?v=2">
    <link rel="stylesheet" href="~/scss/skin.css">
    <script src="~/script/index.js"></script>
</head>

<section id="features-page">
    <div class="subsection4">
        <div class="container">
            <div class="col span_12">
                <div class="wpb_column column_container">
                    <div class="wpb_wrapper">
                        <div align="center" dir="rtl">
                            @Html.DisplayHeaderColorful("ניהול ", "רופאים", 2, "fa fa-plus", "/doctors/create")
                        </div>
                        <div class="contain" style="margin-top: 30px; display: flex; flex-wrap: wrap;"  dir="rtl">
                            @foreach (var item in Model)
                            {
                                <div class="wpb_column vc_column_container col-sm-4 block grow m-full-20" style="height:400px; width:330px;">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="pricing-plan pricing-color-true">
                                                <div class="@(item.Id % 2 == 0 ? "pricing-plan-head pricing-plan-2" : "pricing-plan-head pricing-plan-1")">
                                                    <div class="pricing-price">
                                                        <span class="pricing-amount"><img class="img-circle" width="100" src="~/img/doctor-icon.jpg" /></span>
                                                    </div>
                                                    <h3>ד"ר @item.fullName</h3>
                                                </div>
                                                <ul>
                                                    <li><strong><i class="fa fa-graduation-cap"></i> </strong> @item.specialization</li>
                                                    <li><strong><i class="fa fa-phone"></i> </strong> @item.phoneNumber</li>
                                                    <li><strong><i class="fa fa-envelope-o"></i> </strong> @item.email</li>
                                                </ul>
                                                <div class="pricing-signup">
                                                    <div class="panel-heading h">
                                                        <h4 class="panel-title">
                                                            <a role="button">
                                                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" }) |
                                                                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-eye" }) |
                                                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


