@model IEnumerable<DrugsProject.Models.Doctor.DoctorVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/scss/main.css?v=2">
    <link rel="stylesheet" href="~/scss/skin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="~/script/index.js"></script>

</head>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.licenseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.privateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.familyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.licenseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.privateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.familyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<body id="wrapper">
    <section id="features-page" dir="rtl">    
        <!--pricing-->
        <div class="subsection4">
            <div class="container">
                <div class="col span_12">
                    <div class="wpb_column column_container">
                        <div class="wpb_wrapper">

                            <div class="section-heading text-center">
                                <h1>Our <span>Plans</span></h1>
                                <p class="subheading">Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum ea utamur impetus fuisset nam nostrud euismod volumus ne mei.</p>
                            </div>

                            <div class="contain" style="margin-top: 30px; display: flex; flex-wrap: wrap;">
                                @foreach (var item in Model)
                                {
                                    <div class="wpb_column vc_column_container col-sm-4 block grow m-full-20" style="height:400px; width:330px;">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="pricing-plan pricing-color-true">
                                                    <div class="@(item.Id % 2 == 0 ? "pricing-plan-head pricing-plan-2" : "pricing-plan-head pricing-plan-1")">
                                                        <div class="pricing-price">
                                                            <span class="pricing-amount"><img class="img-circle" width="100" src="~/img/doctor-icon.jpg" /></span>
                                                        </div>
                                                        <h3>ד"ר @item.fullName</h3>
                                                    </div>
                                                    <ul>
                                                        <li><strong><i class="fa fa-graduation-cap"></i> </strong> @item.specialization</li>
                                                        <li><strong><i class="fa fa-phone"></i> </strong> @item.phoneNumber</li>
                                                        <li><strong><i class="fa fa-envelope-o"></i> </strong> @item.email</li>
                                                    </ul>
                                                    <div class="pricing-signup">
                                                        @Html.ActionLink(" ", "Details", new { id = 1 }, new { @class = "fa fa-eye" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @*<div class="wpb_column vc_column_container col-sm-4 block grow m-20" style="height:400px; width:330px;">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="pricing-plan pricing-color-true ">
                                                <div class="pricing-plan-head pricing-plan-2">
                                                    <div class="pricing-price">
                                                        <span class="pricing-amount"><img class="img-circle" width="100" src="~/img/doctor-icon.jpg" /></span>
                                                    </div>
                                                    <h3>ד"ר </h3>
                                                </div>
                                                <ul>
                                                    <li><i class="fa fa-graduation-cap"></i> Storage</li>
                                                    <li><i class="fa fa-phone"></i> Storage</li>
                                                    <li><i class="fa fa-envelope-o"></i> Storage</li>
                                                </ul>
                                                <div class="pricing-signup">
                                                    @Html.ActionLink(" ", "Details", new { id = 1 }, new { @class = "fa fa-eye" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="wpb_column vc_column_container col-sm-4 block grow m-20" style="height:400px; width:330px;">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="pricing-plan pricing-color-true">
                                                <div class="pricing-plan-head pricing-plan-1">

                                                    <div class="pricing-price">
                                                        <span class="pricing-amount"><img class="img-circle" width="100" src="~/img/doctor-icon.jpg" /></span>
                                                    </div>
                                                    <h3>ד"ר </h3>
                                                </div>
                                                <ul>
                                                    <li><strong><i class="fa fa-graduation-cap"></i> </strong> Storage</li>
                                                    <li><strong><i class="fa fa-phone"></i> </strong> Storage</li>
                                                    <li><strong><i class="fa fa-envelope-o"></i> </strong> Storage</li>
                                                </ul>
                                                <div class="pricing-signup">
                                                    @Html.ActionLink(" ", "Details", new { id = 1 }, new { @class = "fa fa-eye" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  
</body>
